@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div id="right_container" class="col col-md-9 col-sm-12">
					<div class="row"><div class="col col-md-12"><h2>About</h2></div></div>
					<article class="row">							
						<div class="col col-md-12">
							<h4>About Me</h4>
							<p>My name is Muazzzam Abbas and i am studying Computer System Information(BS-Hons IT) at the punjab university lahore (PUCIT).I also work as a two month summer internee at <a href="https://www.facebook.com/AIMResearchLab" rel="nofollow"><span style="color: red;">Artificial Intelligence Multidisclipnary Reserach Lab(AIM).</span></a> </p>			
							<p>During this summer Internship beside course work I have completed summer project titled "Smart Presenattion Assistant" an Android Application in which i perform "Excellent" and got a <a href="/Home/InternshipCertificate" rel="nofollow"><span style="color: red;">Certificate</span></a></p>	
                            <p>This site is all about my terms projects during my degree Computer System Information(BS-Hons IT) at the punjab university lahore (PUCIT) </p>															
							</div>														            
						</article>						
					                          
					</div>
				