@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<article class="row">
						<div class="col col-md-12">
                            <h1>Hello Muazzam</h1>
                            </div>
    </article>>*@
<article class="row">
						<div class="col col-md-12">
							<img src="../images/WarInSpace-pic.png" alt="Templatemo Pic 1" class="img-thumbnail img-responsive img_left">
                            <h3>Introduction</h3> 
							<p>This is an 2-D Game Developed using Android and this is a term project of Android in 6 semester downlaod it and install it in your mobile and Enjoy.			
					    </p>
							<p><a rel="nofollow" href="http://www.mediafire.com/download/d8489c33mzt413w/War-In-Space.rar" class="btn btn-primary" role="button">Download</a></p>
						</div>								            
					</article>
					<article class="row">
						<div class="col col-md-12">
							<img src="../images/onlinestore.png" alt="Templatemo Pic 2" class="img-thumbnail img-responsive img_left">
                            <h3>Introduction</h3>
							<p>This is an online shoe store developed in Enterprise Application Development(.NET) Technology,also this is term project of .NET in 6 Sesmester  .</p>
							<p><a rel="nofollow" href="http://bitf11a027yolkstore.apphb.com/" class="btn btn-primary" role="button">View More</a></p>
						</div>							
					</article>	
					<article class="row">
						<div class="col col-md-12">
							<img src="../images/SMA-pic.png" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>Introduction</h3>
							<p>This is an Android Application for Assisting while presentations you can remotely change power point slides and also add your own presentation and give particular time to that points and much more..</p>
							<p><a rel="nofollow" href="http://www.mediafire.com/download/jrpdwx01kkllbut/Smart_Presentation_Assistant.rar" class="btn btn-primary" role="button">Download</a></p>
						</div>			            
					</article>                
	