@{
    ViewBag.Title = "InternshipCertificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="right_container" class="col col-md-9 col-sm-12">
					<div class="row">
                    	<div class="col col-md-12">
                    		                   	</div>
                    </div>
                    
					<article class="row">
						<div class="col col-md-6">							
							<img src="../images/intern-pic.jpg" alt="Templatemo Pic 1" class="img-thumbnail img-responsive">
										</div>
						
					</article> 	

    </div>