@{
    ViewBag.Title = "porfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="right_container" class="col col-md-9 col-sm-12">
					<div class="row">
                    	<div class="col col-md-12">
                    		<h2>Portfolio</h2>
                    	</div>
                    </div>
                    


    <article class="row">
						<div class="col col-md-12">
							<img src="../images/WarInSpace-pic.png" alt="Templatemo Pic 1" class="img-thumbnail img-responsive img_left">
                            <h3>Introduction</h3> 
							<p>This is an 2-D Game Developed using Android and this is a term project of Android in 6 semester downlaod it and install it in your mobile and Enjoy.			
					    </p>
							<p><a rel="nofollow" href="http://www.mediafire.com/download/d8489c33mzt413w/War-In-Space.rar" class="btn btn-primary" role="button">Download</a></p>
						</div>								            
					</article>
					<article class="row">
						<div class="col col-md-12">
							<img src="../images/onlinestore.png" alt="Templatemo Pic 2" class="img-thumbnail img-responsive img_left">
                            <h3>Introduction</h3>
							<p>This is an online shoe store developed in Enterprise Application Development(.NET) Technology,also this is term project of .NET in 6 Sesmester  .</p>
							<p><a rel="nofollow" href="http://bitf11a027yolkstore.apphb.com/" class="btn btn-primary" role="button">View More</a></p>
						</div>							
					</article>	
					<article class="row">
						<div class="col col-md-12">
							<img src="../images/SMA-pic.png" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>Introduction</h3>
							<p>This is an Android Application for Assisting while presentations you can remotely change power point slides and also add your own presentation and give particular time to that points and much more..</p>
							<p><a rel="nofollow" href="http://www.mediafire.com/download/jrpdwx01kkllbut/Smart_Presentation_Assistant.rar" class="btn btn-primary" role="button">Download</a></p>
						</div>			            
					</article>  




                    <article class="row">
						<div class="col col-md-12">
							<img src="../images/lib.png" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>Introduction</h3>
							<p>This is web Application developed using Servlet Technology,in this web application an online LIBRARY MANAGEMENT SYSTEM you can online issue a book,return a book and other features are also inluded,also this is a term project in 5th semester</p>
							<p><a rel="nofollow" href="http://www.mediafire.com/download/mcdavduziqd85wv/library_Management_System.rar" class="btn btn-primary" role="button">Download</a></p>
						</div>			            
					</article>  




                    <article class="row">
						<div class="col col-md-12">
							<img src="../images/Cal-pic.png" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>Introduction</h3>
							<p>This is a MINI Calculator Developed in Assembly language,also a term project in 3rd semester.</p>
							<p><a rel="nofollow" href="http://www.mediafire.com/download/exlgggpfv754mtg/calulator.rar" class="btn btn-primary" role="button">Download</a></p>
						</div>			            
					</article>  


                     <article class="row">
						<div class="col col-md-12">
							<img src="../images/pos-pic.png" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>Introduction</h3>
							<p>This is an POS MANAGEMENT SYSTEM developed using C++ in 3rd Sesmester.</p>
							<p><a rel="nofollow" href="http://www.mediafire.com/download/9ll7mrgalvx6o9r/POS.rar" class="btn btn-primary" role="button">Download</a></p>
						</div>			            
					</article>  



                <article class="row">
						<div class="col col-md-12">
							<img src="../images/vueling-cars.jpg" alt="Templatemo Pic 3" class="img-thumbnail img-responsive img_left">
                            <h3>Introduction</h3>
							<p>This is an Vehicle Rentle MANAGEMENT SYSTEM design in Object Oriented Analysis and Design,also a term project in 4th semester.</p>
							<p><a rel="nofollow" href="http://www.mediafire.com/download/5sstgs8gdpknxcv/Vehicle_Rentale_System.rar" class="btn btn-primary" role="button">Download</a></p>
						</div>			            
					</article>  
















					